@using MudBlazor;
@inject IShoppingCartService shoppingCartService
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Shopify.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @* <ProductCategoriesNavMenu /> *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="OrdersList">
                <span class="fa-regular fa-file-lines" aria-hidden="true"></span> Orders List
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="viewer/1">
                <span class="fa-solid fa-file-invoice" aria-hidden="true"></span> Report Viewer
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShoppingCart">
                <span class="fas fa-shopping-cart" aria-hidden="true"></span>&nbsp;Shopping Cart (<b>@shoppingCartItemsCount</b>)
            </NavLink>
        </div>
    </nav>
</div>